@import "../../../../variables.sass"


.ChatMessage-wrap
  padding: 20px
  overflow: auto
  height: 80vh
  position: relative


.message-wrap
  margin: 35px 0
  display: flex
  img
    margin: 0 15px
    height: 56px
    width: 56px

.my-message
  justify-content: flex-end
  img
    order: 1
  .message-text
    display: flex
    flex-direction: column
    max-width: 460px
    p
      background: $accent-color
      border-radius: 10px 10px 0 10px
    span
      align-self: flex-end
      margin-left: -50px

.message-text
  p
    padding: 7px 10px
    background: #3f4258
    border-radius: 10px 10px 10px 0
    margin-bottom: 5px
    word-wrap: break-word
  span
    color: $font-color
    font: $second-font

.ChatMessage-wrap::-webkit-scrollbar
  border-radius: 10px

  background-color: #4d5060
  height: 12px

.ChatMessage-wrap::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: $accent-color
  &:hover
    background-color: darken($accent-color, 10%)


.ChatMessage-form-wrap.active
  visibility: visible

.ChatMessage-form-wrap
  visibility: hidden
  form
    overflow: hidden
    position: relative
  &-input
    width: 100%
    padding: 5px 10px
    background: #404359
    border-radius: 10px
    border: #5b5f73
    &::placeholder
      color: $font-color
      font: $main-font
      line-height: 28px
      letter-spacing: 0.32px

  .input-file
    cursor: pointer
    opacity: 0
    width: 60px
    height: 50px
    position: absolute
    top: -20px
    bottom: 0
    right: 0
    z-index: 2

    &-icon
      z-index: 1
      margin-right: 20px
      color: $font-color
      position: absolute
      transform: translateY(-50%)
      top: 50%
      right: 0


