@import "../../../variables.sass"

.DND
  display: flex
  color: red
  padding: 50px

  &-container
    border-radius: 5px
    height: 100%
    min-width: 292px
  &-card
    background: $gray
    border-radius: 5px
    padding: 0.2rem 1rem
    margin: 1.5rem
    cursor: move
    width: 292px
    height: 94px
    .ProjectBlock
      background: $gray