@import "../../../variables.sass"

.Workflow
  padding: 95px 0 0 100px

.workflow-header
  display: flex
  justify-content: space-between
  align-items: center
  background: $accent-color

.workflow-tab
  font: $title-font
  a
    margin-left: 40px
    color: $third-gray

  .workflowTab-active
    color: #fff

.workflow-wrap
  background: $third-gray