@import "../../../variables.sass"

.YourProjects
  height: 460px
  overflow: hidden
  display: flex
  flex-direction: column
  justify-content: space-between

  .ProjectBlock
    height: auto


.your-project-header
  font: $big-home-font
  height: 94px
  display: flex
  justify-content: center
  align-items: center
  background: $gray
